/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-double-picture-block {
	border: 1px dotted #121212;
}

.double-picture-block .image-container {
	display: flex;
	justify-content: space-between;
	padding: 0px;
}
